@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.hamburger {
  transform-origin: 2.5px 1px;
}

.open > span:first-child {
  transform-origin: 1.5px 2px;
  transform: rotate(45deg);
}

.open > span:nth-child(2) {
  transform-origin: 1.5px 2px;
  opacity: 0;
}

.open > span:last-child {
  transform-origin: 1.5px 2px;
  transform: rotate(-45deg);
}

.previous-slide {
  transform: rotate(-10deg) translateY(35px) translateX(-24px) !important;
}

.next-slide {
  transform: rotate(10deg) translateY(35px) translateX(24px) !important;
}

.slider {
  transition: all 0.2s;
  cursor: url('data:image/svg+xml;utf8,<svg class="slider-cursor" xmlns="http://www.w3.org/2000/svg" stroke="%23FFFFFF" fill="%23FFFFFF" width="50px" height="50px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>')
      10 10,
    auto;
}

.swiper {
  overflow-y: visible !important;
}
/* .swiper {
  width: 300px;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
} */
/* 
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
