@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.hamburger {
  transform-origin: 2.5px 1px;
}

.open > span:first-child {
  transform-origin: 1.5px 2px;
  transform: rotate(45deg);
}

.open > span:nth-child(2) {
  transform-origin: 1.5px 2px;
  opacity: 0;
}

.open > span:last-child {
  transform-origin: 1.5px 2px;
  transform: rotate(-45deg);
}
